.bg{
     background-color: rebeccapurple;
  }

  .bg1{
    background-color: dodgerblue;
  }

.Firminfo{
  background-color:#dae4ee;
  
}

.Mission{
  background-color: #edf1fe;
}

.Vision{
  background-color: #e8f4f7;
}
.card{
  background-color:#e1eaec;
}